
/* CLASSES */

.up-fade {
  animation: upFade .8s ease-in-out forwards;
}

.up-fade-reverse {
  animation: upFadeReverse .8s ease-in-out forwards;
}

.up-fade.slow {
  animation-duration: 2s;
}


/* MENU ANIMATION */
.menu-fade {
  animation: upFade 0.5s ease-in-out forwards;
}






/* KEYFRAMES */

@keyframes growAndShrink {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes upFade {
  from {
    transform: translateY(+50px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes upFadeReverse {
  from {
    transform: translateY(0px);
    opacity: 1;
  }
  to {
    transform: translateY(+50px);
    opacity: 0;
  }
}
