

.cheaderimage1 {
  background-color: transparent;
  background-image: url(burger-place-website/assets/header-image1.jpg)!important;
  background-size: cover;
}

.blind {
  background-color:rgba(82, 82, 82, 0.541);
  height: 100%;
  width: 100%;
}