

#cheaderimage1 {
  height: 100%;
  background-color: transparent;
  background-image: url("https://antoniojosegteixeira.github.io/burger-place-website/assets/header-image1.jpg")!important;
  background-size: cover;
  animation: growAndShrink 6s ease-in-out infinite alternate;
}

.blind {
  background-color:rgba(82, 82, 82, 0.541);
  height: 100%;
  width: 100%;
}

.bg-light-gray{
  background-color:rgba(82, 82, 82, 0.445);
}


.burger-container {
  height: 30vh;
}

.burger {
  position: relative;
}

#burger-container > div > img {
  width: 100%;
}




#burger-container > div:nth-child(1) {
  z-index: 15;
}
#burger-container > div:nth-child(2) {
  z-index: 14;
}
#burger-container > div:nth-child(3) {
  z-index: 13;
}
#burger-container > div:nth-child(4) {
  z-index: 12;
}
#b4 {
  z-index: 11;
}
#b5 {
  z-index: 10;
}